<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hai python</h1>
    <h1>hii sql</h1>
    <h1>hii html</h1>
    <h1>hi javascript</h1>
    <h1>hii css</h1>
    <h1>hii django</h1>
</body>
</html>
<style>
    *
    {
        margin: 0%;
    }
    h1
    {
        background-color: black;
        color: white;
        padding: 20px;
        width: 100%;
        margin-top: 30px;
        height: 30;
        text-align: center;
    }
</style>