<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>python is easy to learn</h1>
    <h1>try to understand control flow </h1>
    <h1>if we understand control flow you can solve anything</h1>
    <h1>when we study about an errors we can't get any error</h1>
    <h1>daily try to learn new things</h1>
    <h1>try to share your knoweledge with others</h1>
</body>
</html>
<style>
    *
    {
        margin: 0%;
    }
    h1
    {
        color: blue;
        background-color: aqua;
        padding: 10px;
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
</style>